@font-face{
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family:Nunuto_Sans;
}
@font-face{
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family:YesevaOne;
}
@font-face {
    src: url('../fonts/NunitoSans-Italic.ttf');
    font-family:Nunuto_Sans_itelic;
}
body {
    margin: 0;
    font-family:Nunuto_Sans ;
    min-width: 1260px;
}

.header_content {       
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 90px 22px 92px;
    text-transform: uppercase;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: border-box;
}
header {
    background-color: #131313;
} 
.logo {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #e3b873;
}

.nav {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav>li {
    margin-left:47.1px ;
}
.nav_a {
    color: white;
    text-decoration: none;
    font-size: 11px;
}

.nav_a_active {
    color: #e3b873;
}
#tel {
    color: #e3b873;
    font-size: 11px;
    line-height: 15px;
    text-decoration-line: underline;
    text-align: right;
}
.button {
    font-family:Nunuto_Sans_itelic; ;
    box-sizing: border-box;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: white;
    width: 161px;
    height: 37px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
   }
.button_1 {
    width: 161px;
    height: 37px;
    margin-left: 45px;
    font-size:11px ;
   }
.button_2 {
    width: 207px;
    height: 51px;
    margin-right: 20px;
    font-size: 11px;
   }
#butt {
    background-color: rgba(255, 255, 255, 0%);
    border: white solid 1px;
    width: 207px;
    height: 51px;
    
}
.yo{ 
    font-family:YesevaOne;
    text-transform: uppercase;
    margin: 0;
}
h1{
    font-weight: 100;
    width: 676px;
    color: white;
    font-size: 40px;
    line-height: 53.13px;
    line-height: 115%;
    text-align: left;
    vertical-align: top;
}
h2 {
    font-weight: 100;
    text-transform: uppercase;
}
.block_1 {
    position: relative;
    margin: 0;
    height: 707px;
    background-image:url(https://s3-alpha-sig.figma.com/img/b08d/1b80/1322e77c0316c416f2e0373bae5eafc5?Expires=1644192000&Signature=UQTvpnH4ZZ-QAQXbmgAfo9umq3pUUHzBI9urHvkF6ZLKGVdx3p~FZhAMUd9P7Tyj-l3~XDV2T2QFRt~qzxhvw5lAPQwmAVuwysZ3JzvfIrX~O~Ve9wZ2TOt21I3VNNnidMC8hKXIo-zG-RfeoeNykJaIQLcVQgw9I~uragR4BYYOuI42-Vgi-GQgwxBcRMHYR1X37SXmsA6cx0uoZEhLdBpUZ0XzQFKl9rL0nCdDQBPDFhj114yK9wMhhLOkvmRy1IsfwPTuo3D0upl1ZW2k5IMIj1iiIYRo74rLZjxXx~y0-7aBqYxH8Nj-NO4wvekRQbwbQ6O7-9fFWj5dvQrtCw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: 100% auto;
    background-position: center;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.block_1_1 {
    position: relative;
    z-index: 1;
    padding-left: 124px;
    padding-top: 194px;   
}

.title {
    color: #e3b873;
}
.discount {
     margin-top: 19px;
    width: 520px;
    font-size: 22px;
    line-height: 36.01px;
    align-content: flex-start;
    vertical-align: top;
    color: white;
    margin-bottom: 41px;
    
}
.block_2 {
    height: 1074px;
    background-color: #131313;
    color: white;
}
.block_3 {
    height:1466px;
    background: color #e5e5e5;
    
}
.block_2_1{
    display: grid;
   grid-template-columns: 1fr 1fr; 
   padding-left: 134.45px;
   padding-right: 134.55px;
   padding-top: 107px;
   position: relative;
}
.info_title{
    font-size: 18px;
    line-height: 24.95px;
    font-weight: 100;
    color: #e3b873;
}

.project_info h2 {
    padding-top: 69.36px;
    width: 253px;
    color: #e3b873;
    font-size: 27px;
    line-height: 37.42px;
    font-weight: 100;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(2);
}
.description {
    margin-top: 34px;
    margin-bottom: 42px;
    width: 442px;
    font-size: 14px;
    line-height: 26.73px;
}
.info_content {
    margin-top: 9px;
    font-size: 13px;
    line-height: 21.28px;
}
.project_example ul {
    display:flex;
    justify-content: flex-start;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-left: -60.5px;
}
.project_example a {
    text-decoration:none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    line-height: 19.4px;
}
.project_example li {
    padding-left: 60.5px;
}
.project_example img{ 
    margin-top: 45px;
}
a.active {
    color: #e3b873;
    border-bottom: solid #e3b873 1px;
}
.rulet img{
    padding-top:81.1px ;
    vertical-align: middle;
}
.im_1{
    margin-right: -7px;
}
.im_2{
    margin-right: 29.5px;
}
.im_3 {
    margin-right: 17.5px;
}
.control {
    margin-top: -298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.video {

    position: relative;
    width: 817px;
    height: 434px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    margin-top: 48.21PX;
}
.video_img {
    position: absolute;
    z-index: 0;
    
}
.ellipse {
    position: absolute;
    z-index: 1;
    
}
.polygon {
    position: absolute;
    margin-left: 6px;
    margin-bottom: 9px;
    z-index: 2;
}
.control h2 {
    color: white;
    font-size: 20px;
    line-height: 28px;
}

.camera_img {
    margin-top: 12.79PX;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.line{
    margin: 0 9px;
}
.br {
    margin-top: 62.5PX;
}
.description_control {
    margin-top: 34.46px;
    margin-bottom: 0;
    width: 681px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}
.check_box {
    display: flex;
    justify-content: center;
    margin-top: 33.24px;
    font-size: 14px;
    line-height: 22.92px;
    color: #181818;
}
.form_input {
    margin-top: 91.5px;
    display: flex;
    align-items: flex-end;

}
.input{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);;
}
input {
    border: none;
    font-size: 14px;
    line-height: 22.92px;
    color: #363636;
    width: 231px;
}
.input_1 {
    margin-right: 58px;
    
}
.input_2 {
    margin-right: 49px;
}
label {
    font-size: 13px;
    line-height: 21.28px;
    color:rgba(54, 54, 54, 0.5); ;

}
 .submit {
     width: 200px;
     height:51px ;
 }
 .checkbox {
 width: 27px;
 }
 .repair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .repair h2 {
     margin-top: 75.85px;
     color: #181818;
 }
 .button_3 {
     font-size: 13px;
     line-height: 26.6px;
 }

 .instr {
     margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .example_desing {
     margin-top: 16px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;

 }
 .desing_img img {
     width: 392px;
     height: auto;
 }
 .desing_img {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 15px;
     
 }
 .desing_ul{
     position: relative;
     margin-top: -98px;
     width:330px ;
     height:286px ;
     background-color: white;
     z-index: 1; 
     padding-left: 10px;
     font-size: 13px;
     line-height: 26.6px;
     color: #959595;
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

 }
 .desing_ul h3{
     font-weight: 100;
     font-size: 18px;
     color: #363636;
     text-transform: none;
     padding-left: 21px;
     padding-top: 25px;

 }
 .button_desing {
     position: relative;
     font-family:YesevaOne;
     width:228px;
     height: 54px;
     font-size: 18px;
     line-height: 24.95px;
     box-sizing: border-box;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: white;
    border: 0;
    align-self: flex-start;
    margin-left: 31px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    margin-top: -26px;
    z-index: 2;

 }
 